.about-container {
  display: flex;
  justify-content: center;
  min-height: 45vh;
  color: #ffffff;
  padding: 20px;
}

.about-card {
  background-color: rgba(61, 54, 92, 0.5);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  max-width: 700px;
  text-align: center;
}

.about-card h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #ffffff;
  font-family: "DM Serif Text", serif;
}

.about-card p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #dddddd;
}

.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.project-btn {
  background-color: #ec4899;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.project-btn:hover {
  background-color: #db2777;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.contact-details {
  margin-top: 40px;
}

.contact-details h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "DM Serif Text", serif;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-link {
  text-decoration: none;
  color: #ec4899;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #db2777;
  transform: scale(1.1);
}
